.issue-item-enter {
  opacity: 0;
}
.issue-item-enter-active {
  opacity: 1;
  transition: opacity 1s linear;
}
.issue-item-enter-done {
  opacity: 1;
}

.issue-item-exit {
  opacity: 1;
}
.issue-item-exit-active {
  opacity: 0;
  transition: opacity 1s linear;
}
.issue-item-exit-done {
  opacity: 0;
}